<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/main::areas(~{::title},~{::main})}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Danh Sách Chi Tiêu</title>
    </head>
    <body>
        <main class="main-content">
            <h1>Danh Sách Chi Tiêu</h1>
            <div
                class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow"
            >
                <div class="px-4 mt-4 mb-1">
                    <div
                        th:replace="fragments/filter-content :: filter-content(
                            posts=${posts},
                            keyword=${keyword},
                            url='/admin/thuchi/chitieu-list',
                            size=${size})"
                    ></div>
                    <table
                        id="tableCustomer"
                        class="display mb-5 table table-striped table-bordered"
                        style="width: 100%"
                    >
                        <thead class="bg-success text-light">
                            <tr>
                                <th>
                                    <input type="checkbox" id="selectChiTieu" />
                                </th>
                                <th>Mã Chi Tiêu</th>
                                <th>Mã Nhân Viên</th>
                                <th>Ngày Chi</th>
                                <th>Số Tiền</th>
                                <th>Tên Chi Tiêu</th>
                            </tr>
                        </thead>
                        <tbody class="text-dark">
                            <tr th:each="u : ${posts}">
                                <td>
                                    <input
                                        type="checkbox"
                                        name="selectChiTieu"
                                        th:value="${u.maChiTieu}"
                                    />
                                </td>
                                <td th:text="${u.maChiTieu}"></td>

                                <td
                                    th:text="${u.nhanVien != null ? u.nhanVien.maNhanVien : 'Chưa cập nhật'}"
                                ></td>

                                <td
                                    th:text="${u.ngayChi != null ? #dates.format(u.ngayChi, 'dd/MM/yyyy') : 'Chưa cập nhật'}"
                                ></td>
                                <td
                                    th:text="${u.soTien != null ? #numbers.formatDecimal(u.soTien, 0, 'COMMA', 0, 'POINT') + ' VND' : 'Chưa cập nhật'}"
                                ></td>
                                <td
                                    th:text="${u.tenKhoanChi != null ? u.tenKhoanChi : 'Chưa cập nhật'}"
                                ></td>
                            </tr>
                        </tbody>
                    </table>
                    <div
                        th:replace="fragments/pagination :: pagination(
                            posts=${posts},
                            pageNumbers=${pageNumbers},
                            keyword=${keyword},
                            url='/admin/thuchi/chitieu-list',
                            size=${size})"
                    ></div>

                    <div class="pl-4 mb-5">
                        <a
                            th:href="@{/admin/thuchi/chitieu-create}"
                            class="btn btn-success text-decoration-none"
                            >Tạo Mới Chi Tiêu</a
                        >
                        <button
                            id="btnCapNhatChiTieu"
                            class="btn btn-warning text-light"
                            onclick="updateChiTieu()"
                        >
                            Cập Nhật Thông Tin
                        </button>
                        <button
                            id="btnXoaChiTieu"
                            class="btn btn-danger text-light"
                            onclick="deleteChiTieu()"
                        >
                            Xóa Chi Tiêu
                        </button>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="/js/chitieu.js"></script>
        </main>
    </body>
</html>
