<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/main::areas(~{::title},~{::main})}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Trang Cá Nhân</title>
        <style>

        </style>
    </head>
    <body>
        <main class="main-content"> 
            <div style="font-weight: 700; padding: 4px;">Trang cá nhân</div>
            <div class="profile-container" style="display: flex; justify-content: space-evenly; padding: 35px; border: 1px solid grey; background-color: #fff;border-radius: 10px;">
                    <div style ="width: 50%;">
                        <div>
                            <dl>
                                <dt>Họ và tên:</dt> <dd th:text="${user.hoTen}"></dd>

                                <dt>Chức vụ:</dt>
                                <dd th:text="${chucVu != null ? chucVu.tenChucVu : 'Chưa cập nhật'}"></dd>

                                <dt>Địa chỉ:</dt>
                                <dd th:text="${user.diaChi}"></dd>

                                <dt>Số điện thoại:</dt>
                                <dd th:text="${user.soDienThoai}"></dd>

                                <dt>Lương:</dt>
                                <dd th:text="${chucVu != null ? #numbers.formatDecimal(chucVu.luong, 0, 'COMMA', 0, 'POINT') : 'Chưa cập nhật'} + ' VNĐ'" ></dd>
                            </dl>

                         
                        </div>
                        <div >
                            <dl>
                                <dt>Tên đăng nhập:</dt>
                                <dd th:text="${user.username}"></dd>
                            </dl>
                            <dl>
                                <dt>Mật khẩu:</dt>
                                <dd
                                    th:text="${user.password != null ? '********' : ''}"
                                ></dd>
                            </dl>
                            <dl>
                                <dt>Email:</dt>
                                <dd th:text="${user.email}"></dd>
                            </dl>
                            <dl>
                                <dt>Vai trò:</dt>
                                <dd th:text="${user.role}"></dd>
                            </dl>
                        </div>
                    </div>

                    <div  style="display: flex; flex-direction: column;">

                       <img style="width: 200px ;height: 229px; border-radius: 50%; object-fit: cover;"
                            th:src="${baseUrl} + ${#authentication.principal.usersDB.image}"
                            th:if="${#authentication.principal.usersDB.image}"
                            alt="User Image"
                             />
                        <span th:if="${#authentication.principal.usersDB.image == null || #strings.isEmpty(#authentication.principal.usersDB.image)}"
                              style="display: block; width: 200px; height: 229px; border-radius: 50%; background: #eee; color: #888; text-align: center; line-height: 160px; font-size: 1.1em;">
                            Ảnh chưa có
                        </span>
                        <button style="border-radius: 10px; background-color: #f2f1f0; padding: 5px; margin-top: 63px;" >Chỉnh sửa</button>
                    </div>                     
            </div>
            </div>
            
        </main>
    </body>


    
</html>















