<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/main::areas(~{::title},~{::main})}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo mới chi tiết thực đơn</title>
    </head>
    <body>
        <main class="main-content">
            <h1>TẠO MỚI CHI TIẾT THỰC ĐƠN</h1>
            <form
                th:action="@{/admin/thucdon/chitietthucdon-create}"
                method="post"
                th:object="${thucDon}"
            >
                <div class="form-group-fields">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="font-weight-bold"
                                >Tên Món<span class="text-danger"
                                    >(*):</span
                                ></label
                            >
                            <div class="input-custom-group">
                                <i class="fas fa-utensils"></i>
                                <input
                                    type="text"
                                    class="form-control"
                                    th:field="*{tenMon}"
                                />
                            </div>
                            <div
                                th:errors="*{tenMon}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="font-weight-bold"
                                >Loại Món<span class="text-danger"
                                    >(*):</span
                                ></label
                            >
                            <div class="input-custom-group">
                                <i class="fas fa-list"></i>
                                <input
                                    type="text"
                                    class="form-control"
                                    th:field="*{loaiMon}"
                                />
                            </div>
                            <div
                                th:errors="*{loaiMon}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                    </div>
                    <div class="row g-3 mt-4">
                        <div class="col-lg-6">
                            <label class="font-weight-bold"
                                >Giá Tiền Hiện Tại<span class="text-danger"
                                    >(*):</span
                                ></label
                            >
                            <div class="input-custom-group">
                                <i class="fas fa-money-bill-wave"></i>
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    class="form-control"
                                    th:field="*{giaTienHienTai}"
                                />
                            </div>
                            <div
                                th:errors="*{giaTienHienTai}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                    </div>
                    <div
                        style="
                            margin-top: 30px;
                            display: flex;
                            justify-content: center;
                            gap: 5px;
                        "
                    >
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button type="reset" class="btn btn-info">Reset</button>
                        <a
                            th:href="@{/admin/thucdon/thucdon-list}"
                            class="btn btn-warning text-decoration-none"
                            >Cancel</a
                        >
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>
