<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đặt bàn</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Đặt bàn</h2>

<form th:action="@{/sale/reserve}" th:object="${reservationRequest}" method="post">
    <input type="hidden" th:field="*{tableId}" />
	<input type="hidden" th:field="*{employeeId}" />

    <label>Khách hàng:</label>
    <input type="text" th:field="*{customerName}" required /><br/>

    <label>Số điện thoại:</label>
    <input type="text" th:field="*{customerPhone}" required /><br/>

    <label>Ngày:</label>
    <input type="date" th:field="*{reservationDate}" required /><br/>

    <label>Giờ:</label>
    <input type="time" th:field="*{reservationTime}" required /><br/>

    <button type="submit">Đặt bàn</button>
</form>

<a href="/sale/list">Quay lại</a>
</body>
</html>
