<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách bàn</title>
</head>
<body>

	<!-- Hiển thị menu theo vai trò -->
<!-- Kiểm tra vai trò (giờ là chuỗi) -->
<div th:if="${session.vaiTro == 'ADMIN'}">
    <a href="/admin/admindashboard">Trang quản trị</a>
</div>

<div th:if="${session.vaiTro == 'NHANVIEN'}">
    <a href="/admin/nhanviendashboard">Trang phục vụ</a>
</div>

	
    <h1>Danh sách bàn</h1>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    <p th:if="${success}" th:text="${success}" style="color:green;"></p>

    <table border="1">
        <thead>
            <tr>
                <th>Tên bàn</th>
                <th>Tình trạng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ban : ${dsBan}">
                <td th:text="${ban.tenBan}">Tên bàn</td>
                <td th:text="${ban.tinhTrang}">Tình trạng</td>
                <td>
			    <a th:href="@{'/thucdon/them/' + ${ban.id}}">Thêm món</a>
			    <a th:href="@{'/chuyenban/' + ${ban.id}}">Chuyển bàn</a>
			    <a th:href="@{'/datban/' + ${ban.id}}">Đặt bàn</a>
			    <a th:href="@{'/ban/' + ${ban.id} + '/xem'}">Xem</a>
			    <a th:href="@{/gopban}">Gộp bàn</a>
			    
			    
			    
			   <form th:action="@{'/datban/xoa/' + ${ban.id}}" method="post" style="display:inline;">
				    <button type="submit">Hủy bàn</button>
				</form>

			</td>

            </tr>
        </tbody>
    </table>
</body>
</html>
