<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/main::areas(~{::title},~{::main})}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Tạo Mới Khuyến Mãi</title>
    </head>
    <body>
        <main class="main-content">
            <h1>TẠO MỚI Khuyến Mãi</h1>
            <form
                th:action="@{/admin/khuyenmai/khuyenmai-create}"
                method="post"
                th:object="${khuyenMai}"
            >
                <div class="form-group-fields">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="font-weight-bold"
                                >Tên Khuyến Mãi<span class="text-danger"
                                    >(*):</span
                                ></label
                            >
                            <div class="input-custom-group">
                                <i class="fas fa-map-marker-alt"></i>
                                <input
                                    type="text"
                                    class="form-control"
                                    th:field="*{tenKhuyenMai}"
                                />
                            </div>
                            <div
                                th:errors="*{tenKhuyenMai}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="font-weight-bold">
                                Ngày Bắt Đầu
                                <span class="text-danger">(*)</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input
                                    style="margin-left: 10px"
                                    type="text"
                                    class="form-control"
                                    th:field="*{ngayBatDau}"
                                    placeholder="dd/MM/yyyy"
                                    required
                                />
                            </div>
                            <div
                                th:if="${#fields.hasErrors('ngayBatDau')}"
                                th:errors="*{ngayBatDau}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                    </div>

                    <div class="row g-3 mt-3">
                        <div class="col-lg-6">
                            <label class="font-weight-bold"
                                >Loại Khuyến Mãi<span class="text-danger"
                                    >(*):</span
                                ></label
                            >

                            <div class="input-custom-group">
                                <i class="fas fa-map-marker-alt"></i>
                                <input
                                    type="text"
                                    class="form-control"
                                    th:field="*{loaiKhuyenMai}"
                                />
                            </div>
                            <div
                                th:errors="*{loaiKhuyenMai}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>

                        <div class="col-lg-6">
                            <label class="font-weight-bold">
                                Ngày Kết Thúc
                                <span class="text-danger">(*)</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input
                                    style="margin-left: 10px"
                                    type="text"
                                    class="form-control"
                                    th:field="*{ngayKetThuc}"
                                    placeholder="dd/MM/yyyy"
                                    required
                                />
                            </div>
                            <div
                                th:if="${#fields.hasErrors('ngayKetThuc')}"
                                th:errors="*{ngayKetThuc}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                    </div>

                    <div class="row g-3 mt-3">
                        <div class="col-lg-6">
                            <label class="font-weight-bold"
                                >Giá Trị Giảm Giá<span class="text-danger"
                                    >(*):</span
                                ></label
                            >
                            <div class="input-custom-group">
                                <i class="fas fa-map-marker-alt"></i>
                                <input
                                    type="number"
                                    step="0.05"
                                    class="form-control"
                                    th:field="*{giaTriGiam}"
                                />
                            </div>
                            <div
                                th:errors="*{giaTriGiam}"
                                class="ml-5 text-danger"
                            ></div>
                        </div>
                    </div>

                    <div
                        th:if="${#fields.hasGlobalErrors()}"
                        class="alert alert-danger text-center"
                        id="global-error-alert"
                        style="margin-top: 20px"
                    >
                        <span
                            th:each="err : ${#fields.globalErrors()}"
                            th:text="${err}"
                        ></span>
                    </div>

                    <div
                        style="
                            margin-top: 30px;
                            display: flex;
                            justify-content: center;
                            gap: 5px;
                        "
                    >
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button type="reset" class="btn btn-info">Reset</button>
                        <a
                            th:href="@{/admin/khuyenmai/khuyenmai-list}"
                            class="btn btn-warning text-decoration-none"
                            >Cancel</a
                        >
                    </div>
                </div>
            </form>
            <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
            />
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="/js/khuyenmai.js"></script>
        </main>
        <script>
            window.addEventListener("DOMContentLoaded", function () {
                var alert = document.getElementById("global-error-alert");
                if (alert) {
                    setTimeout(function () {
                        alert.style.display = "none";
                    }, 2500);
                }
            });
        </script>
    </body>
</html>
