<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa món</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h2>Chỉnh sửa món</h2>

<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/menu/edit/{id}(id=${menuItem.id})}" th:object="${menuItem}" method="post">

    <label for="itemName">Tên món:</label>
    <input type="text" id="itemName" th:field="*{itemName}" placeholder="Nhập tên món" required />
    <br/><br/>

    <label for="currentPrice">Giá tiền:</label>
    <input type="number" id="currentPrice" th:field="*{currentPrice}" step="0.01" min="0" placeholder="Nhập giá tiền" required />
    <br/><br/>

    <h3>Thành phần</h3>
    <div th:each="detail, stat : *{menuDetails}">
        <label>Tên thành phần:</label>
        <select th:field="*{menuDetails[__${stat.index}__].productId}" required>
            <option value="" disabled>-- Chọn nguyên liệu --</option>
           <option th:each="prod : ${products}" 
			        th:value="${prod.id}" 
			        th:text="${prod.productName}"
			        th:selected="${prod.id == detail.productId}"></option>

        </select>

        <label>Khối lượng:</label>
        <input type="number" th:field="*{menuDetails[__${stat.index}__].quantity}" step="0.01" min="0" required />

        <label>Đơn vị:</label>
        <input type="text" th:field="*{menuDetails[__${stat.index}__].unitName}" placeholder="Ví dụ: gram, cái" required />

        <br/><br/>
    </div>

    <button type="submit">Cập nhật</button>
    <a href="#" onclick="window.history.back()">Hủy</a>
</form>

</body>
</html>
