<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="header" class="header">
        <div class="container-fluid" style="background-color: rgb(28, 87, 52)">
            <a class="navbar-brand" style="color: rgb(61, 6, 6)" th:href="@{/}">
                <img style="width: 84px" th:src="@{/img/giason.png}" />
                <span style="margin-left: 20px; color: rgb(28, 87, 52)">
                    Gia Son Coffee Management System
                </span>
            </a>
        </div>
    </nav>
</html>
